@font-face {
  font-family: "futura";
  src: url("font/futura meidum bt.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "futura";
  src: url("font/futura book italic font.ttf") format("ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "futura";
  src: url("font/futura bold font.ttf") format("ttf");
  font-style: normal;
  font-weight: bold;
}


.header {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}



.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.body {
  color: white;
}







.title {
  font-weight: bold;
  z-index: 1;
  position: absolute;
  right: 0;
  text-align: right;
  margin-right: 2.5%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.title h1 {
  font-family: "futura";
  text-align: right;
  font-size: 2.5em;
  margin-bottom: 5%;
  border-top: 1px groove white;
  border-bottom: 1px groove white;
  padding: 2%;
  width:100%;  

}

.title h2 {
  line-height: 127%;
  font-family: "futura";
  font-style: italic;
  font-size: 1.2em;
  margin-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}







.main-navigation li:hover {
  opacity: 1;

}

main {
  font-family: "futura";
  background-color: white;
  z-index: 1;
  position: relative;
}

.background-video {
  height: 100vh;
  position: fixed;
  width: auto;
  trasform: translateX(-50%);
  opacity: 0.9;
}

.is-reached-background-video {

  opacity: 0;
}

nav {

  border: 1px solid white;
  min-height: 10vh;
  width: 100%;
  position: absolute;
  bottom: -4px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  overflow: hidden;
  transition: min-height 0.2s;
}

.is-reached-nav {
  position: fixed;
  top: 0;
  max-height: 8vh;
}

.is-open-nav {
  width: 100vw;
  min-height: 100vh;
}

.encercler {
  z-index:-10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu {
  font-family: "futura";
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.logo-nav {
  font-family: "futura";
  font-weight: bold;
  font-size: 62px;
  height: 0;
  overflow: hidden;
  text-align: center;
  margin-top: 18%;
}

.is-open-logo-nav {
  height: auto;
  color: #776a62;
}

.menu li {
  margin-bottom: 10%;
  font-size: 2em;
}

.is-open-menu {
  opacity: 1;
}


.menu-burger {
  position: absolute;
  bottom: 9%;
  left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  opacity: 0.8;
  cursor: pointer;
}

.menu-burger:hover {
  opacity: 1;
}

.is-open-menu-burger {
  bottom: 2%;
}

.menu-burger li {
  width: 30px;
  height: 4px;
  background: white;
}

.menu-burger li:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

.titles {
  height: 100vh;
}

.history,
.values {
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.history {
  background-image: url(../img/totoOurHistory.jpg);
  background-repeat: no-repeat;
  height: 41vh;
}

.values {
  background-image: url(../img/ourValues.jpg);
  background-repeat: no-repeat;
  height: 58vh;
}

.story-para,
.values-para {
  height: 0;
  overflow: hidden;
  font-size: 22px;
  transition: height 1s;
}

.story-para p,.values-para p {
  text-align:center;
  margin: 12%;
  line-height: 37px;

}

.is-open-history,
.is-open-values {
  height: auto;
}

.is-open-story {
  height: auto;
  overflow: visible;
  background-color: black;
  color:#776a62;
  width: 100%;
}


.is-open-para {
  background-color: black;
  color:#776a62;
  height: auto;

}

.title-story,
.title-values {
  font-weight: bold;
  font-size: 42px;
  background-color: rgba(40,40,40,0.6);
  width: 100vw;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;


}


a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.products {
  margin-top: 3%;
}

.products h1 {
  font-weight: bold;
}

.is-open-products {
  opacity: 0
}

section h1,
article h1 {
  color:#282828;
  height: 50px;
  text-align: center;
  font-size: 2em;
}

section img {
  width: 300px;
  height: 300px;
}

.product1 {
  background: url(../img/baignoireFlottaison2.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.buttonbath+p,.buttonwashlet+p,.buttontap+p {
  color: #3252a3;
  border: 5px solid#3252a3;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  text-transform:uppercase;
}



.buttonbath+p:hover {
  background-color: white;
}

.product2 {
  background: url(../img/washlet.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}



.buttonwashlet+p:hover {
  background-color: white;
}

.product3 {
  background: url(../img/robinet.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.buttontap+p:hover {
  background-color: white;
}

article h1 {
  padding-top: 3%;
  font-weight: bold;
}

.article1 {
  background: url(../img/luxurious.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.buttonarticle1+p,.buttonarticle2+p{
  width: 38%;
  color: black;
  border: 5px solid black;
  padding:3%;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.7;
}

.buttonarticle1+p:hover {
  opacity: 1;
}

.buttonluxurious+p {
  color: white;
  background-color: rgba(50,82,163 , 0.6);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  position: absolute;
  bottom: 8%;
  left: 0;
  width: 120px;
}

.article2 {
  background: url(../img/article_2.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}


.buttonwater+p {
  color: white;
  background-color: rgba(50, 82, 163, 0.6);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  position: absolute;
  bottom: 8%;
  left: 0;
  width: 250px;
}





footer {
  font-family: "futura";
  background-color: #282828;
  color: white;
  text-align: center;
}

footer p {
  padding-top: 4%;
  font-weight: bold;
  font-size: 2em;
}

footer ul {
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3%;
  text-transform: uppercase;
  font-size: 10px;
}